:root {
  --content-width: 1560px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --black-color: #000;
  --text-color: #323232;
  --green-color: #15B359;
}

/* stylelint-disable */
/* stylelint-disable */
/* Gilroy */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #F8F8F8;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  border-radius: 0;
  background-color: var(--light-color);
}

.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: block;
  width: 276px;
  height: 64px;
  padding: 20px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#0560E8), to(#448FFF));
  background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: var(--light-color);
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
}

.main-title .white {
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(31.04%, #C7C7C7), color-stop(66.67%, #FFFFFF), color-stop(97.71%, #C7C7C7));
  background: linear-gradient(90deg, #FFFFFF 0%, #C7C7C7 31.04%, #FFFFFF 66.67%, #C7C7C7 97.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-title .blue {
  font-family: 'Inter', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#0560E8), to(#448FFF));
  background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  color: #2B2B2B;
}

@media (min-width: 480px) {
  .container {
    max-width: none;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1550px) {
  .container {
    max-width: var(--container-width);
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: var(--light-color);
}

.buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.buy__price_old {
  font-size: 22px;
  line-height: 26px;
  color: #737373;
}

.buy__price_new {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: var(--light-color);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding-top: 40px;
  background-color: transparent;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__btn {
  position: relative;
  width: 180px;
  height: 40px;
  margin-right: 30px;
  padding: 9px 0 9px 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0560E8), to(#448FFF));
  background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
  -webkit-box-shadow: 0px 3px 8px rgba(4, 61, 148, 0.57);
          box-shadow: 0px 3px 8px rgba(4, 61, 148, 0.57);
  border-radius: 10px;
  font-size: 18px;
  line-height: 22px;
  color: var(--light-color);
}

.header__btn::before {
  content: '';
  position: absolute;
  top: 12.5px;
  left: 9px;
  width: 17px;
  height: 16px;
  background-image: url(../images/phone-icon.svg);
  background-repeat: no-repeat;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logo img {
  margin-right: 30px;
}

.logo__title {
  max-width: 130px;
  font-size: 14px;
  line-height: 17px;
  color: var(--light-color);
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.header-phone__link {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: var(--light-color);
}

.header-phone__title {
  font-size: 14px;
  line-height: 17px;
  color: var(--light-color);
}

.hero {
  padding: 100px 0 60px;
  background-image: url(../images/hero/hero-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.hero__container {
  position: relative;
}

.hero__left {
  position: relative;
  max-width: 920px;
  padding: 100px 0 210px;
  z-index: 10;
}

.hero__main-title {
  margin-bottom: 10px;
}

.hero__subtitle {
  max-width: 430px;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 26px;
  color: var(--light-color);
}

.hero__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
}

.hero__image {
  position: absolute;
  top: -100px;
  right: -150px;
}

.hero__video {
  position: absolute;
  top: 400px;
  right: 0;
  z-index: 10;
}

.hero-item {
  height: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  -webkit-box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
          box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
  border-radius: 20px;
}

.hero-item__icon {
  margin-right: 20px;
}

.hero-item__title {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0560E8), to(#448FFF));
  background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-item__desc {
  font-size: 22px;
  line-height: 26px;
  color: #2B2B2B;
}

.hero-features {
  padding: 46px 30px 43px 61px;
  background: linear-gradient(181.21deg, rgba(255, 255, 255, 0.15) 1.03%, rgba(255, 255, 255, 0.140625) 1.04%, rgba(255, 255, 255, 0) 98.97%);
  border: 1px solid #484747;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 17px;
}

.hero-features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-features__title {
  margin-bottom: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0560E8), to(#448FFF));
  background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.hero-features__desc {
  font-size: 22px;
  line-height: 26px;
  color: var(--light-color);
}

.applications {
  padding: 180px 0 90px;
  background: linear-gradient(101.97deg, #EDF2FF 0%, #FAFBFF 100%);
}

.applications__title {
  margin-bottom: 10px;
}

.applications__subtitle {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 26px;
  color: #2B2B2B;
}

.applications__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.applications-item {
  width: 404px;
  background: -webkit-gradient(linear, left top, left bottom, from(#838383), to(#101E32));
  background: linear-gradient(180deg, #838383 0%, #101E32 100%);
  -webkit-box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
          box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
  border-radius: 20px;
  overflow: hidden;
}

.applications-item__image {
  height: 343px;
}

.applications-item__info {
  padding: 20px 30px 60px;
}

.applications-item__title {
  margin-bottom: 14px;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(31.04%, #F1F1F1), color-stop(66.67%, #FFFFFF), color-stop(97.71%, #F1F1F1));
  background: linear-gradient(90deg, #FFFFFF 0%, #F1F1F1 31.04%, #FFFFFF 66.67%, #F1F1F1 97.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--light-color);
}

.applications-item__desc {
  margin-bottom: 7px;
  font-size: 22px;
  line-height: 26px;
  color: var(--light-color);
}

.applications-item ul {
  padding-left: 30px;
  list-style-type: disc;
}

.applications-item ul li {
  font-size: 22px;
  line-height: 26px;
  color: var(--light-color);
}

.how-to-work {
  position: relative;
  padding: 90px 0;
  background: linear-gradient(101.97deg, #EDF2FF 0%, #FAFBFF 100%);
}

.how-to-work::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 152px;
  height: 273px;
  background-image: url(../images/how-to-work-bg.png);
  background-repeat: no-repeat;
}

.how-to-work__title {
  margin-bottom: 40px;
}

.how-to-work__title span {
  font-size: 54px;
}

.how-to-work__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-to-work__center {
  width: 510px;
  -webkit-box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
          box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
  border-radius: 20px;
  background-color: var(--light-color);
}

.how-to-work__item {
  position: relative;
  width: 470px;
  padding: 24px 16px 16px 24px;
  border: 1px solid #D5E0F1;
  border-radius: 17px;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
  z-index: 1;
}

.how-to-work__item:first-child {
  margin-bottom: 120px;
}

.how-to-work__item::before {
  content: '';
  position: absolute;
  top: -140px;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#0560E8), to(#448FFF));
  background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 150px;
  line-height: 180px;
  z-index: -1;
}

.how-to-work__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 17px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
}

.how-to-work__item_1::before {
  content: '01';
}

.how-to-work__item_2::before {
  content: '02';
}

.how-to-work__item_3::before {
  content: '03';
  left: inherit;
  right: 0;
}

.how-to-work__item_4::before {
  content: '04';
  left: inherit;
  right: 0;
}

.how-to-work__desc {
  font-size: 22px;
  line-height: 26px;
  color: #2B2B2B;
}

.how-to-work__desc span {
  font-weight: 700;
}

.video-reviews {
  padding: 90px 0;
  background: linear-gradient(101.97deg, #EDF2FF 0%, #FAFBFF 100%);
}

.video-reviews__title {
  margin-bottom: 40px;
}

.video-reviews__content {
  position: relative;
  width: 1290px;
  margin: 0 auto;
}

.video-reviews__swiper {
  width: 1050px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-reviews__slide {
  width: 510px !important;
}

.video-reviews__item {
  border-radius: 20px;
  -webkit-filter: drop-shadow(6px 6px 10px rgba(1, 45, 85, 0.28));
          filter: drop-shadow(6px 6px 10px rgba(1, 45, 85, 0.28));
}

.video-reviews__image {
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.video-reviews__image img {
  height: 323px;
}

.video-reviews__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #2B2B2B;
}

.video-reviews__desc {
  font-size: 22px;
  line-height: 26px;
  color: #2B2B2B;
}

.video-reviews__button {
  position: absolute;
  top: 30%;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.video-reviews__button-prev {
  left: 0;
}

.video-reviews__button-next {
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.compressor {
  position: relative;
  padding: 90px 0 120px;
  background: linear-gradient(101.97deg, #EDF2FF 0%, #FAFBFF 100%);
}

.compressor::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 140px;
  height: 407px;
  background-image: url(../images/compressor-bg.png);
  background-repeat: no-repeat;
}

.compressor__content {
  width: 1380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 30px 70px 30px 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#595A5C), to(#07101F));
  background: linear-gradient(180deg, #595A5C 0%, #07101F 100%);
  border-radius: 20px;
}

.compressor__left {
  width: 49%;
}

.compressor__left video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.compressor__right {
  width: 49%;
}

.compressor__right img {
  width: 100%;
}

.compressor__info {
  margin-bottom: 25px;
  padding: 30px 20px;
  background: linear-gradient(181.21deg, rgba(39, 46, 84, 0.234375) 1.03%, rgba(65, 80, 160, 0.1) 98.97%);
  border: 1px solid #595F68;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 17px;
}

.compressor__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--light-color);
}

.compressor__text {
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0560E8), to(#448FFF));
  background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
}

.compressor__list {
  padding-left: 10px;
}

.compressor__item {
  position: relative;
  padding-left: 22px;
  font-size: 22px;
  color: var(--light-color);
}

.compressor__item::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0560E8), to(#448FFF));
  background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
}

.compressor__item_indent {
  margin-bottom: 30px;
}

.set {
  padding: 60px 0 80px;
  background-image: url(../images/set/set-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.set__title {
  margin-bottom: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(31.04%, #EAE5E5), color-stop(66.67%, #FFFFFF), color-stop(97.71%, #EAE3E3));
  background: linear-gradient(90deg, #FFFFFF 0%, #EAE5E5 31.04%, #FFFFFF 66.67%, #EAE3E3 97.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.set__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  margin-bottom: 40px;
}

.set__list {
  margin-bottom: 30px;
}

.set__btn {
  width: 374px;
  height: 92px;
  margin: 0 auto 10px;
}

.set__subbutton {
  font-size: 22px;
  line-height: 26px;
  color: var(--light-color);
}

.set-item__title {
  background: -webkit-gradient(linear, left top, left bottom, from(#0560E8), to(#448FFF));
  background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  line-height: 34px;
}

.set-item__desc {
  font-size: 22px;
  line-height: 26px;
  color: #2B2B2B;
}

.set-item ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: disc;
}

.set-item ul li {
  font-size: 20px;
  line-height: 26px;
  color: #2B2B2B;
}

.set-left {
  grid-column: span 4;
}

.set-left__item {
  height: 100%;
  padding: 32px 68px 36px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  border: 1px solid #D5E0F1;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 17px;
}

.set-left__image {
  max-width: 375px;
  margin: 0 auto 36px;
  background: linear-gradient(180.07deg, #FCFDFF 0.06%, #E3E9FA 99.94%);
  -webkit-box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
          box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
  border-radius: 20px;
  overflow: hidden;
}

.set-left__text {
  max-width: 375px;
  margin: 0 auto;
}

.set-left__title {
  margin-bottom: 30px;
}

.set-left__desc {
  margin-bottom: 15px;
}

.set-right {
  grid-column: span 8;
}

.set-right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 40px 32px 25px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  border: 1px solid #D5E0F1;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 17px;
}

.set-right__item:first-child {
  margin-bottom: 30px;
}

.set-right__image {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  margin-right: 75px;
  background: linear-gradient(180.07deg, #FCFDFF 0.06%, #E3E9FA 99.94%);
  -webkit-box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
          box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
  border-radius: 20px;
  overflow: hidden;
}

.set-right__title {
  margin-bottom: 26px;
}

.set-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

.set-list__item {
  grid-column: span 4;
  padding: 40px 60px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  border: 1px solid #D5E0F1;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 17px;
}

.set-list__image {
  max-width: 172px;
  margin: 0 auto 20px;
  background: linear-gradient(180.07deg, #FCFDFF 0.06%, #E3E9FA 99.94%);
  -webkit-box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
          box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
  border-radius: 20px;
  overflow: hidden;
}

.set-list__title {
  margin-bottom: 16px;
}

.set-list__desc {
  margin-bottom: 12px;
}

.set-list__desc span {
  font-weight: 700;
}

.gallery {
  padding: 90px 0;
  background: linear-gradient(101.97deg, #EDF2FF 0%, #FAFBFF 100%);
}

.gallery__wrapper {
  width: 1320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.gallery__wrapper a {
  position: relative;
  display: inline-block;
  outline: 0;
  width: 100%;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  -webkit-box-shadow: 0px 0px 20px rgba(4, 51, 122, 0.45);
          box-shadow: 0px 0px 20px rgba(4, 51, 122, 0.45);
  border-radius: 20px;
  overflow: hidden;
}

.gallery__wrapper a:nth-child(2n+1) {
  margin-bottom: 30px;
}

.gallery__big {
  width: 40%;
  padding-right: 15px;
}

.gallery__big a {
  height: 100%;
}

.gallery__big a img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__medium {
  width: 30%;
  padding-left: 15px;
}

.gallery__medium:not(:last-child) {
  padding-right: 15px;
}

.goods {
  padding: 90px 0 80px;
  background-image: url(../images/goods/goods-bg.png);
  background-repeat: no-repeat;
}

.goods__title {
  margin-bottom: 10px;
}

.goods__title .white {
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(31.04%, #C7C7C7), color-stop(66.67%, #FFFFFF), color-stop(97.71%, #C7C7C7));
  background: linear-gradient(90deg, #FFFFFF 0%, #C7C7C7 31.04%, #FFFFFF 66.67%, #C7C7C7 97.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goods__title .blue {
  font-family: 'Inter', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#0560E8), to(#448FFF));
  background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goods__subtitle {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 24px;
  color: var(--light-color);
}

.goods__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.goods__btn {
  width: 264px;
}

.goods__inner {
  position: relative;
  padding: 18px 40px;
  -webkit-box-shadow: 0px 4px 11px rgba(6, 10, 52, 0.22);
          box-shadow: 0px 4px 11px rgba(6, 10, 52, 0.22);
  background: -webkit-gradient(linear, left top, left bottom, from(#3c83ee), to(#0558d4));
  background: linear-gradient(180deg, #3c83ee 0%, #0558d4 100%);
  border-radius: 10px;
}

.goods__info {
  margin-bottom: 15px;
}

.goods__promotion {
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(31.04%, #EEEAEA), color-stop(66.67%, #FFFFFF), color-stop(97.71%, #EAEAEA));
  background: linear-gradient(90deg, #FFFFFF 0%, #EEEAEA 31.04%, #FFFFFF 66.67%, #EAEAEA 97.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.goods__subpromotion {
  font-size: 18px;
  line-height: 22px;
  color: var(--light-color);
}

.goods__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goods__items .goods__item:first-child {
  margin-right: 88px;
}

.goods__items .goods__item .goods__btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF1A1A), to(#FF5252));
  background: linear-gradient(180deg, #FF1A1A 0%, #FF5252 100%);
  -webkit-box-shadow: 0px 4px 11px rgba(6, 10, 52, 0.22);
          box-shadow: 0px 4px 11px rgba(6, 10, 52, 0.22);
}

.goods-item {
  max-width: 264px;
  width: 100%;
}

.goods-item_padding {
  padding-top: 84px;
}

.goods-item__inner {
  max-height: 590px;
  height: 100%;
  margin-bottom: 25px;
  padding: 24px 32px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  border: 1px solid #D5E0F1;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 17px;
}

.goods-item__name {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}

.goods-item__image {
  margin-bottom: 16px;
  background: linear-gradient(180.07deg, #FCFDFF 0.06%, #E3E9FA 99.94%);
  -webkit-box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
          box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
  border-radius: 20px;
  overflow: hidden;
}

.goods-item__desc {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #2B2B2B;
}

.goods-item ul {
  margin-bottom: 12px;
}

.goods-item ul li {
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}

.goods-item ul li span {
  font-weight: 700;
}

.goods-item__prices {
  margin-left: 0;
}

.goods-item__price_new {
  background: -webkit-gradient(linear, left top, left bottom, from(#0560E8), to(#448FFF));
  background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.goods-item__price_old {
  font-size: 20px;
  line-height: 24px;
}
