.buy {
  display: flex;
  align-items: center;

  &__prices {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  &__price {
    &_old {
      font-size: 22px;
      line-height: 26px;
      color: #737373;

      @media (max-width: 479.98px) {
        font-size: 20px;
      }
    }

    &_new {
      font-size: 28px;
      font-weight: 700;
      line-height: 32px;
      color: var(--light-color);

      @media (max-width: 479.98px) {
        font-size: 26px;
      }
    }
  }
}