.comparison {
  position: relative;
  padding: 110px 0;
  background: linear-gradient(101.97deg, #EDF2FF 0%, #FAFBFF 100%);

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 397px;
    background-repeat: no-repeat;
    transform: translateY(-50%);

    @media (max-width: 1800px) {
      display: none;
    }
  }

  &::before {
    left: 0;
    height: 914px;
    background-image: url(../images/comparison/comparison-bg1.png);
  }

  &::after {
    right: 0;
    height: 930px;
    background-image: url(../images/comparison/comparison-bg2.png);
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 26px;
    color: #2B2B2B;

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  &__table {
    width: 1070px;
    margin: 0 auto 40px;

    @media (max-width: 1199.98px) {
      width: 100%;
    }

    @media (max-width: 479.98px) {
      max-width: 300px;
    }
  }

  &__btn {
    margin: 0 auto 20px;
  }

  &__subbutton {
    font-size: 18px;
    line-height: 22px;
    color: #2B2B2B;
  }
}

.comparison-table {
  border-collapse: collapse;

  &__col {
    padding: 30px 18px;
    border: 2px solid #448FFF;

    @media (max-width: 767.98px) {
      padding: 20px;
    }

    @media (max-width: 575.98px) {
      padding: 10px;
    }
  }

  &__title {
    background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    @media (max-width: 767.98px) {
      font-size: 26px;
      line-height: 32px;
    }

    @media (max-width: 479.98px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__desc {
    padding-left: 35px;
    font-size: 22px;
    line-height: 26px;
    color: #2B2B2B;

    @media (max-width: 767.98px) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width: 479.98px) {
      padding-left: 20px;
      font-size: 11px;
      line-height: 13px;
    }

    span {
      font-weight: 700;
    }

    .price {
      font-weight: 300;
      color: #448FFF;
    }
  }

  &__cross {
    background-image: url(../images/cross.svg);
    background-position: left center;
    background-repeat: no-repeat;

    @media (max-width: 479.98px) {
      background-size: 15px 15px;
    }
  }

  &__check {
    background-image: url(../images/check.svg);
    background-position: left center;
    background-repeat: no-repeat;

    @media (max-width: 479.98px) {
      background-size: 15px 15px;
    }
  }
}