.compressor {
  position: relative;
  padding: 90px 0 120px;
  background: linear-gradient(101.97deg, #EDF2FF 0%, #FAFBFF 100%);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 140px;
    height: 407px;
    background-image: url(../images/compressor-bg.png);
    background-repeat: no-repeat;

    @media (max-width: 1669.98px) {
      display: none;
    }
  }

  &__content {
    width: 1380px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 70px 30px 30px;
    background: linear-gradient(180deg, #595A5C 0%, #07101F 100%);
    border-radius: 20px;

    @media (max-width: 1549.98px) {
      width: 100%;
    }

    @media (max-width: 1199.98px) {
      padding: 30px;
      flex-direction: column;
    }

    @media (max-width: 479.98px) {
      padding: 6px 9px;
    }
  }

  &__left {
    width: 49%;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 1199.98px) {
      width: 100%;
      order: 2;
    }
  }

  &__right {
    width: 49%;

    img {
      width: 100%;

      @media (max-width: 1199.98px) {
        display: none;
      }
    }

    @media (max-width: 1199.98px) {
      width: 100%;
    }
  }

  &__info {
    margin-bottom: 25px;
    padding: 30px 20px;
    background: linear-gradient(181.21deg, rgba(39, 46, 84, 0.234375) 1.03%, rgba(65, 80, 160, 0.1) 98.97%);
    border: 1px solid #595F68;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(20px);
    border-radius: 17px;

    @media (max-width: 479.98px) {
      padding: 12px 8px;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--light-color);

    @media (max-width: 767.98px) {
      text-align: center;
    }

    @media (max-width: 479.98px) {
      font-size: 19px;
      line-height: 23px;
    }
  }

  &__text {
    margin-bottom: 20px;
    background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;

    @media (max-width: 767.98px) {
      font-size: 36px;
      line-height: 46px;
    }

    @media (max-width: 479.98px) {
      font-size: 25px;
      line-height: 30px;
      text-align: center;
    }
  }

  &__list {
    padding-left: 10px;
  }

  &__item {
    position: relative;
    padding-left: 22px;
    font-size: 22px;
    color: var(--light-color);

    @media (max-width: 767.98px) {
      font-size: 18px;
    }

    @media (max-width: 479.98px) {
      font-size: 14px;
      line-height: 17px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 11px;
      left: 0;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
    }

    &_indent {
      margin-bottom: 30px;
    }
  }
}