.goods {
  padding: 90px 0 80px;
  background-image: url(../images/goods/goods-bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 767.98px) {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 10px;

    .white {
      background: linear-gradient(90deg, #FFFFFF 0%, #C7C7C7 31.04%, #FFFFFF 66.67%, #C7C7C7 97.71%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    .blue {
      font-family: 'Inter', sans-serif;
      background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__subtitle {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 24px;
    color: var(--light-color);

    @media (max-width: 479.98px) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;

    @media (max-width: 1439.98px) {
      display: none;
    }
  }

  &__btn {
    width: 264px;
  }

  &__inner {
    position: relative;
    padding: 18px 40px;
    box-shadow: 0px 4px 11px rgba(6, 10, 52, 0.22);
    background: linear-gradient(180deg, #3c83ee 0%, #0558d4 100%);
    border-radius: 10px;

    @media (max-width: 1439.98px) {
      margin-top: 50px;
    }

    @media (max-width: 479.98px) {
      padding: 20px;
    }

    &_mobile {
      display: none;

      .goods__items {
        flex-direction: column;
      }

      .goods__items .goods__item:first-child {
        margin-right: auto;
      }

      .goods-item__price_new {
        background: linear-gradient(90deg, #FFFFFF 0%, #F8F8F8 31.04%, #FFFFFF 66.67%, #F5F4F4 97.71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .goods-item__price_old {
        color: #B7B7B7;
      }

      @media (max-width: 1439.98px) {
        display: block;
      }
    }
  }

  &__info {
    margin-bottom: 15px;
  }

  &__promotion {
    background: linear-gradient(90deg, #FFFFFF 0%, #EEEAEA 31.04%, #FFFFFF 66.67%, #EAEAEA 97.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  &__subpromotion {
    font-size: 18px;
    line-height: 22px;
    color: var(--light-color);
  }

  &__items {
    display: flex;
    justify-content: space-between;

    .goods__item {
      &:first-child {
        margin-right: 88px;
      }

      .goods__btn {
        background: linear-gradient(180deg, #FF1A1A 0%, #FF5252 100%);
        box-shadow: 0px 4px 11px rgba(6, 10, 52, 0.22);
      }
    }
  }
}

.goods-item {
  max-width: 264px;
  width: 100%;

  &_padding {
    padding-top: 84px;

    @media (max-width: 1439.98px) {
      padding-top: 0;
    }
  }

  &_mobile {
    display: none;
    max-width: none;
    width: 50%;
    margin: 0 auto 30px;

    @media (max-width: 1439.98px) {
      display: block;
    }

    @media (max-width: 991.98px) {
      width: 100%;
    }

    .goods-item__inner {
      max-width: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .goods-item__image {
      width: 36%;
      margin-bottom: 0;

      @media (max-width: 479.98px) {
        width: 100px;
        height: 100px;
      }
    }

    .goods-item__text {
      width: 56%;

      @media (max-width: 479.98px) {
        width: 62%;
      }
    }

    .goods-item__prices {
      margin-bottom: 10px;
      text-align: center;
    }

    .goods__btn {
      margin: 0 auto;
    }
  }

  &__inner {
    max-height: 590px;
    height: 100%;
    margin-bottom: 25px;
    padding: 24px 32px;
    background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
    border: 1px solid #D5E0F1;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(20px);
    border-radius: 17px;

    @media (max-width: 479.98px) {
      padding: 20px;
    }
  }

  &__name {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2B2B2B;

    @media (max-width: 479.98px) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__image {
    margin-bottom: 16px;
    background: linear-gradient(180.07deg, #FCFDFF 0.06%, #E3E9FA 99.94%);
    box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
    border-radius: 20px;
    overflow: hidden;

    img {
      @media (max-width: 479.98px) {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }

  &__desc {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #2B2B2B;

    @media (max-width: 479.98px) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  ul {
    margin-bottom: 12px;

    li {
      font-size: 18px;
      line-height: 22px;
      color: #2B2B2B;

      span {
        font-weight: 700;
      }

      @media (max-width: 479.98px) {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  &__prices {
    margin-left: 0;
  }

  &__price_new {
    background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  &__price_old {
    font-size: 20px;
    line-height: 24px;
  }
}