.nav {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--light-color);
  }
}