.peculiarities {
  padding: 90px 0 100px;
  background: linear-gradient(101.97deg, #EDF2FF 0%, #FAFBFF 100%);

  @media (max-width: 767.98px) {
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media (max-width: 1439.98px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__btn {
    position: relative;
    max-width: 510px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #448FFF;
    border-radius: 16.86px;
    background: transparent;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #448FFF;
    text-align: left;
    overflow: hidden;

    &:not(:last-child) {
      margin-right: 30px;

      @media (max-width: 1439.98px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    @media (max-width: 479.98px) {
      width: 300px;
      height: 48px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 18px;
      left: 44px;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;

      @media (max-width: 479.98px) {
        top: 12px;
        background-size: 25px 25px;
      }
    }

    &_1 {
      &::before {
        background-image: url(../images/peculiarities/peculiarities-icon1.svg);
      }
    }

    &_2 {
      &::before {
        background-image: url(../images/peculiarities/peculiarities-icon2.svg);
      }
    }

    &_3 {
      &::before {
        width: 69px;
        background-image: url(../images/peculiarities/peculiarities-icon3.svg);
      }
    }

    &_active {
      border: none;
      background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
      color: var(--light-color);

      &.peculiarities__btn_1 {
        &::before {
          background-image: url(../images/peculiarities/peculiarities-icon-white1.svg);
        }
      }
  
      &.peculiarities__btn_2 {
        &::before {
          background-image: url(../images/peculiarities/peculiarities-icon-white2.svg);
        }
      }
  
      &.peculiarities__btn_3 {
        &::before {
          width: 69px;
          background-image: url(../images/peculiarities/peculiarities-icon-white3.svg);
        }
      }
    }

    @media (max-width: 1549.98px) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width: 479.98px) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__image {
    display: none;
    margin-bottom: 20px;

    @media (max-width: 991.98px) {
      display: block;
    }
  }
}

.peculiarities-item {
  display: flex;
  justify-content: center;

  @media (max-width: 991.98px) {
    flex-direction: column;
  }

  &__left {
    width: 30%;
    margin-right: 70px;
    padding: 37px;
    background: linear-gradient(180deg, #595A5C 0%, #07101F 100%);
    box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
    border-radius: 15px;

    @media (max-width: 1199.98px) {
      width: 40%;
    }

    @media (max-width: 991.98px) {
      width: 100%;
      order: 2;
      background: transparent;
      box-shadow: none;
      border-radius: none;
    }
  }

  &__name {
    margin-bottom: 20px;
    background: linear-gradient(90deg, #FFFFFF 0%, #F5F4F4 31.04%, #FFFFFF 66.67%, #F1F0F0 97.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    @media (max-width: 991.98px) {
      color: #2B2B2B;
      -webkit-text-fill-color: #2B2B2B;
    }

    @media (max-width: 479.98px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  ul {
    margin-bottom: 30px;

    li {
      font-size: 22px;
      line-height: 26px;
      color: var(--light-color);

      @media (max-width: 991.98px) {
        color: #2B2B2B;
      }

      @media (max-width: 479.98px) {
        font-size: 14px;
        line-height: 17px;
      }

      span {
        font-weight: 700; 
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__right {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 41px 47px 34px 37px;
    background: linear-gradient(180deg, #595A5C 0%, #07101F 100%);
    box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
    border-radius: 15px;

    @media (max-width: 1199.98px) {
      width: 60%;
    }

    @media (max-width: 991.98px) {
      width: 100%;
      margin-bottom: 30px;
    }

    @media (max-width: 767.98px) {
      padding: 25px 23px;
      flex-direction: column;
    }
  }

  &__video {
    display: block;
    width: 530px;
    height: 340px;
    margin-right: 46px;
    background: #D9D9D9;
    border-radius: 21px;
    overflow: hidden;

    @media (max-width: 767.98px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }

    @media (max-width: 479.98px) {
      width: 250px;
      height: 160px;
    }

    &-image {
      img {
        height: 340px;

        @media (max-width: 479.98px) {
          height: 160px;
        }
      }
    }
  }

  &__time {
    @media (max-width: 767.98px) {
      display: flex;
      align-items: center;
      margin-right: auto;
    }
  }

  &__icon {
    @media (max-width: 479.98px) {
      width: 46px;
    }
  }

  &__duration {
    background: linear-gradient(90deg, #FFFFFF 0%, #C7C7C7 31.04%, #FFFFFF 66.67%, #C7C7C7 97.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;

    @media (max-width: 767.98px) {
      margin-left: 10px;
    }

    @media (max-width: 479.98px) {
      font-size: 26px;
      line-height: 31px;
    }
  }

  &__btn {
    @media (max-width: 991.98px) {
      margin: 0 auto;
    }
  }
}