.penogenerator {
  padding: 30px 0 80px;
  background-image: url(../images/penogenerator/penogenerator-bg.png);
  background-repeat: no-repeat;

  &__title {
    margin-bottom: 10px;
    color: var(--light-color);
  }

  &__subtitle {
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 48px;

    .white {
      background: linear-gradient(90deg, #FFFFFF 0%, #C7C7C7 31.04%, #FFFFFF 66.67%, #C7C7C7 97.71%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .blue {
      background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__left {
    position: relative;
    width: 43%;
    margin-right: 100px;
    background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
    box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
    border-radius: 20px;
  }

  &__video {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__right {
    width: 50%;
  }

  &__desc {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 26px;
    color: var(--light-color);
  }

  &__item {
    position: relative;
    padding-left: 25px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      content: '✓';
      position: absolute;
      top: 0;
      left: 5px;
      font-size: 22px;
      color: #448FFF;
    }
  }

  ul {
    margin-bottom: 40px;

    li {
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: var(--light-color);
    }
  }
}