.popup {
  &__title {
    margin-bottom: 5px;
    background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2B2B2B;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    max-width: 300px;
  }

  &__field {
    p {
      margin-bottom: 5px;
      padding-left: 15px;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: #2B2B2B;
    }

    input[type=text] {
      height: 40px;
      background: rgba(250, 250, 250, 0.95);
      box-shadow: inset 6px 6px 11px rgba(71, 71, 71, 0.25);
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.46);
    }

    .custom-select {
      height: 40px;
    }

    .selectBox {
      padding: 8px 28px;
      font-size: 16px;
      line-height: 19px;
      color: #2B2B2B;

      &::after {
        top: 12px;
      }
    }
  }

  &__btn {
    width: 190px;
    height: 46px;
    margin: 0 auto 10px;
    padding: 14px 0;
    font-size: 14px;
    line-height: 17px;
  }

  &__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2B2B2B;

    .blue {
      background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
    }
  }
}

#callme {
  max-width: 580px;
  width: 100%;
  padding: 56px 60px 30px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  box-shadow: 0px 0px 200px rgba(0, 10, 103, 0.48);
  border-radius: 12px;

  .form-container {
    max-width: none;
    background: transparent;
    padding: 0;
    box-shadow: none;
    border-radius: none;
    border: none;
  }

  .popup__fields {
    margin: 0 auto 20px;
  }
}

#popupConsultation {
  max-width: 580px;
  width: 100%;
  padding: 56px 60px 30px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  box-shadow: 0px 0px 200px rgba(0, 10, 103, 0.48);
  border-radius: 12px;

  .form-container {
    max-width: none;
    background: transparent;
    padding: 0;
    box-shadow: none;
    border-radius: none;
    border: none;
  }

  .popup__fields {
    margin: 0 auto;
  }
}

#popupTerms {
  max-width: 800px;
  width: 100%;
  padding: 56px 60px 30px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  box-shadow: 0px 0px 200px rgba(0, 10, 103, 0.48);
  border-radius: 12px;

  .form-container {
    max-width: none;
    background: transparent;
    padding: 0;
    box-shadow: none;
    border-radius: none;
    border: none;
  }

  .popup__title {
    font-size: 48px;
    line-height: 58px;
  }

  .popup__fields {
    margin: 0 auto;
  }

  .popup__field {
    input[type=text] {
      height: 50px;
    }

    .custom-select {
      height: 50px;
    }

    .selectBox {
      padding: 13px 28px;

      &::after {
        top: 16px;
      }
    }

    .dropDown {
      top: 40px;
    }
  }
}

#popupReview {
  max-width: 800px;
  width: 100%;
  padding: 56px 60px 30px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  box-shadow: 0px 0px 200px rgba(0, 10, 103, 0.48);
  border-radius: 12px;

  @media (max-width: 479.98px) {
    padding: 26px 46px;
  }

  .form-container {
    max-width: none;
    background: transparent;
    padding: 0;
    box-shadow: none;
    border-radius: none;
    border: none;
  }

  .popup__title {
    margin-bottom: 50px;
    background: none;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: #2B2B2B;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #2B2B2B;

    @media (max-width: 479.98px) {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }

    .blue {
      background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;

      @media (max-width: 479.98px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .popup__fields {
    max-width: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  .popup__field {
    width: 335px;

    @media (max-width: 479.98px) {
      width: 100%;
    }

    div {
      @media (max-width: 479.98px) {
        width: 100%;
      }
    }

    input[type=text] {
      max-width: none;
      height: 50px;
      margin-bottom: 30px;

      @media (max-width: 479.98px) {
        width: 100%;
        height: 30px;
        font-size: 12px;
        line-height: 14px;
      }
    }

    input[name=phone] {
      margin-bottom: 0;
    }

    textarea {
      width: 100%;
      height: 154px;
      display: block;
      padding: 15px 0 0 14px;
      border-radius: 12px;
      border: 2px solid #448FFF;
      background: rgba(250, 250, 250, 0.95);
      box-shadow: inset 6px 6px 11px rgba(71, 71, 71, 0.25);
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.46);
      outline: 0;
      resize: none;

      @media (max-width: 479.98px) {
        height: 60px;
        font-size: 12px;
        line-height: 14px;
        padding: 9px 0 0 16px;
      }
    }
  }
  
  ul {
    margin-bottom: 30px;

    @media (max-width: 479.98px) {
      padding-left: 0;
    }

    li {
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #2B2B2B;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      @media (max-width: 479.98px) {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  .popup__inner {
    display: flex;

    @media (max-width: 479.98px) {
      flex-direction: column;
    }
  }

  .popup__btn {
    width: 188px;
    margin: 0 30px 0 0;

    @media (max-width: 479.98px) {
      margin: 0 auto 20px;
    }
  }

  .popup__info {
    @media (max-width: 479.98px) {
      font-size: 12px;
      line-height: 14px;
      text-align: center;
    }
  }
}

#popupFinish {
  max-width: 800px;
  width: 100%;
  min-height: 310px;
  padding: 56px 60px 30px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  box-shadow: 0px 0px 200px rgba(0, 10, 103, 0.48);
  border-radius: 12px;

  @media (max-width: 767.98px) {
    max-width: none;
    padding: 42px 34px 330px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 90px;
    width: 315px;
    height: 290px;
    background-image: url(../images/popup-bg.png);
    background-repeat: no-repeat;

    @media (max-width: 767.98px) {
      top: inherit;
      right: inherit;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  .form-container {
    max-width: none;
    background: transparent;
    padding: 0;
    box-shadow: none;
    border-radius: none;
    border: none;
  }

  .popup__title {
    max-width: 300px;
    margin-bottom: 23px;
    font-size: 48px;
    line-height: 58px;

    @media (max-width: 767.98px) {
      margin: 0 auto 10px;
      font-size: 38px;
      line-height: 42px;
      text-align: center;
    }

    @media (max-width: 479.98px) {
      max-width: none;
      text-align: left;
    }
  }

  .popup__subtitle {
    max-width: 240px;
    font-size: 18px;
    line-height: 22px;
    color: #2B2B2B;

    @media (max-width: 767.98px) {
      margin: 0 auto;
      text-align: center;
    }

    @media (max-width: 479.98px) {
      max-width: none;
      text-align: left;
    }
  }
}

#order-modal {
  max-width: 1000px;
  width: 100%;
  padding: 34px 40px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  box-shadow: 0px 0px 200px rgba(0, 10, 103, 0.48);
  border-radius: 12px;

  @media (max-width: 1199.98px) {
    max-width: none;
    width: auto;
  }

  .carousel__button.is-close {
    top: 10px;
    right: 10px;
  }

  .img-container {
    @media (max-width: 1199.98px) {
      display: none;
    }
  }

  .columns {
    display: flex;
    justify-content: space-between;
  }

  .popup__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 38px;

    span {
      font-size: 48px;
      line-height: 58px;
    }

    &_mobile {
      display: none;

      @media (max-width: 1199.98px) {
        display: block;
        text-align: center;
      }

      @media (max-width: 479.98px) {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .main-img {
    position: relative;

    .popup__price {
      position: absolute;
      top: 50%;
      right: 0;

      p {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #2B2B2B;
      }
    }

    .buy__price_new {
      background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 300;
      font-size: 36px;
      line-height: 43px;

    }
  }

  .form-container {
    max-width: 390px;
    padding: 34px 24px;
    background: linear-gradient(180.07deg, #FBFCFF 0.06%, #E7EDFF 99.94%);
    box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
    border-radius: 20px;
  }

  .popup__fields {
    max-width: 335px;
    margin: 0 auto;
  }

  .popup__field {
    input[type=text] {
      height: 50px;

      @media (max-width: 479.98px) {
        max-width: none;
        width: 100%;
        height: 30px;
        font-size: 12px;
        line-height: 14px;
      }
    }

    .custom-select {
      height: 50px;
      margin-bottom: 40px;

      @media (max-width: 479.98px) {
        max-width: none;
        width: 100%;
        height: 30px;
      }
    }

    .selectBox {
      padding: 12px 28px;

      @media (max-width: 479.98px) {
        padding: 4px 28px;
        font-size: 12px;
        line-height: 14px;
      }

      &::after {
        top: 16px;

        @media (max-width: 479.98px) {
          top: 8px;
        }
      }
    }
  }

  .dop-container {
    max-width: none;
    margin: 0 auto 40px;

    &__title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #2B2B2B;
    }
  }

  .custom-checkbox {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &__name {
      margin-bottom: 10px;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #2B2B2B;
    }

    &__input {
      display: none;
    }

    &__check {
      position: relative;
      width: 96px;
      height: 89px;
      padding: 0;
      border-radius: 8px;
      overflow: hidden;

      &::after {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
      }
    }
  }

  .buy__price_new {
    &-mobile {
      display: none;
      margin: 0 0 10px 30px;
      background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;

      @media (max-width: 1199.98px) {
        display: block;
      }
    }
  }
}

.fancybox__content>.carousel__button.is-close {
  top: 20px;
  right: 20px;
  color: #2B2B2B;
}