.terms {
  padding: 70px 0;
  background-image: url(../images/terms/terms-bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    margin-bottom: 10px;
    font-weight: 300;
    color: var(--light-color);

    span {
      background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
    }

    @media (max-width: 479.98px) {
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 31px;
    }
  }

  &__subtitle {
    margin-bottom: 100px;
    font-size: 40px;
    line-height: 48px;
    background: linear-gradient(90deg, #FFFFFF 0%, #C7C7C7 31.04%, #FFFFFF 66.67%, #C7C7C7 97.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 479.98px) {
      display: none;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1439.98px) {
      margin-bottom: 20px;
    }

    @media (max-width: 1199.98px) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__info {
    margin-right: 100px;

    @media (max-width: 1549.98px) {
      margin-right: 0;
    }
  }

  &__list {
    position: relative;
    max-width: 570px;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 50px;
      left: 80px;
      height: 80%;
      border: 1.2px dashed #0560E8;
      z-index: -1;

      @media (max-width: 1199.98px) {
        left: 100px;
      }

      @media (max-width: 991.98px) {
        left: 85px;
      }

      @media (max-width: 767.98px) {
        display: none;
      }
    }

    @media (max-width: 1199.98px) {
      max-width: none;
    }
  }

  &__btn {
    width: 433px;
    height: 92px;
    margin: 0 auto;

    @media (max-width: 479.98px) {
      width: 215px;
      height: 46px;
      padding: 12px 0;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.terms-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 34px 50px 54px;
  background: linear-gradient(180.07deg, #F0F5FF 0.06%, #D9E2FF 99.94%);
  box-shadow: 6px 6px 10px rgba(1, 45, 85, 0.28);
  border-radius: 20px;

  @media (max-width: 479.98px) {
    padding: 26px;
  }

  &:not(:last-child) {
    margin-bottom: 50px;

    @media (max-width: 767.98px) {
      margin-bottom: 10px;
    }
  }

  &__icon {
    width: 12%;
  }

  &__desc {
    width: 79%;
    font-size: 22px;
    line-height: 29px;
    color: #2B2B2B;

    span {
      font-size: 24px;
      font-weight: 700;
      background: linear-gradient(180deg, #0560E8 0%, #448FFF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 767.98px) {
        font-size: 18px;
        line-height: 22px;
      }

      @media (max-width: 479.98px) {
        font-size: 12px;
        line-height: 14px;
      }
    }

    @media (max-width: 767.98px) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width: 479.98px) {
      font-size: 12px;
      line-height: 14px;
    }
  }
}